// Mixins
@mixin wrapper {
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    max-width: 150ch;
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.3);
    margin: 0 auto 2em;

    &:last-child {
        margin-bottom: 0;
    }
}

@mixin button-styles($bg: #773232, $bg-hover: #9d4242) {
    cursor: pointer;
    padding: 0.5em 0.9em;
    background: $bg;
    color: #fff;
    border: 0;
    border-radius: var(--border-radius);
    transition: 0.8s all;
    &:active,
    &:hover {
        background: $bg-hover;
        transition: 0.2s all;
    }
}
