@use "../partials" as *;

table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
        padding: 0 0.3rem;
        text-align: left;
    }
    th {
        background: var(--table-row-bg);
        font-weight: bold;
        padding: 0.3em;
    }
    td {
        white-space: nowrap;
        padding: 0.25em;
        &.ip {
            cursor: pointer;
        }
        &.country {
        }
        &.provider {
            max-width: 18em;
            overflow: hidden;
        }
        &.requests {
            font-size: 0.7em;
            width: 40%;
            max-width: fit-content;
            overflow: hidden;
            white-space: wrap;
        }
    }
    tr {
        transition: 0.2s all;
        &:nth-child(even) {
            background: var(--table-row-bg);
        }
        &:has(input[type="checkbox"]:checked) {
            background-color: #d4beab;
            color: #000;
        }
    }
}
